[user]
	name = Denis Susloparov
	email = densus@gmail.com
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[branch]
	autosetuprebase = always
[pull]
	rebase = true
	askpass = /usr/bin/ksshaskpass
